<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bunsel Blog</title>
    <meta name="description" content="Luke Bunselmeyer Blog">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">

    <link rel="stylesheet" href="styles/0205f50a.main.css">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20787417-1']);
        _gaq.push(['_setDomainName', 'bunselmeyer.net']);
        _gaq.push(['_trackPageview']);
    </script>
</head>
<body ng-app="clientappBlogApp" ng-cloak="">

<!-- Begin Templates -->
<script type="text/ng-template" id="/views/layouts/main-layout.html">
<div class="container" data-role="page">

    <div class="row" data-role="header">
        <div class="span2 profile-photo-container"></div>
        <div class="span10">
            <p class="hello-paragraph lead">
                Hello, my name is Luke Bunselmeyer. I’m a fun loving Full-Stack engineer who delights in polyglot programming from back-end to front-end, Java to JavaScript, Web services to Web development.
            </p>
        </div>
        <div class="span2"></div>
    </div>

    <div class="row" data-role="main-nav">
        <div class="span2">
            <h1 class="hd-stream" ng-if="thoughtStream">[ {{ thoughtStream }} ]</h1>
        </div>
        <div class="span10">
            <ul class="nav-pills nav-main unstyled">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/stream/projects">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/stream/photos">
                        Photos
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/about">
                        About
                    </a>
                </li>
            </ul>
        </div>
        <div class="span2"></div>
    </div>


    <div data-block="content-area" data-role="body">[content-area]</div>
    <div class="row" data-role="footer"></div>
</div>
</script>

<script type="text/ng-template" id="/views/main.html">
<div data-extend-template="/views/layouts/main-layout.html">

    <div data-block="content-area" data-role="body">
        <div class="row row-thought" ng-repeat="thought in thoughts">
            <div class="span10 thought-container thought-container-{{ $index+1 }} rotated" rotate="">
                <div class="row">
                    <div class="span2 thought-meta hidden-phone">
                        <h1 class="thought-date">{{published(thought) | date:'mediumDate'}}</h1>

                        <p class="thought-streams">
                            <small>
                                <a ng-href="#!/thoughts/stream/{{ stream }}" class="thought-stream" ng-repeat="stream in thought.streams"> {{ stream }}</a>
                            </small>
                        </p>

                    </div>
                    <div class="span8">
                        <div class="thought-page">
                            <div class="thought-header clearfix">
                                <h1 class="head-title pull-left"><a class="nolink" ng-href="#!/thoughts/{{thought.id}}">{{ thought.title }}</a></h1>
                                <a href="" class="btn btn-select-thought pull-right">Toggle</a>
                            </div>
                            <div class="thought-body markdown-content" compile="thought.html" ng-class="{expanded: thoughtName}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2"></div>
        </div>
    </div>


</div>
</script>
<!-- End Templates -->


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container" ng-view=""></div>

<script src="scripts/b4b723df.plugins.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>

<script src="scripts/9b72e539.scripts.js"></script>
<script type="text/javascript">
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    }());
</script>
<script type="text/javascript">
    var _gauges = _gauges || [];
    (function () {
        var t = document.createElement('script');
        t.type = 'text/javascript';
        t.async = true;
        t.id = 'gauges-tracker';
        t.setAttribute('data-site-id', '526e0fef108d7b641a00000b');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>
</body>
</html>