<div class="container" data-role="page">

    <div class="row" data-role="header">
        <div class="span2 profile-photo-container"></div>
        <div class="span10">
            <p class="hello-paragraph lead">
                Hello, my name is Luke Bunselmeyer. I’m a fun loving Full-Stack engineer who delights in polyglot programming from back-end to front-end, Java to JavaScript, Web services to Web development.
            </p>
        </div>
        <div class="span2"></div>
    </div>

    <div class="row" data-role="main-nav">
        <div class="span2">
            <h1 class="hd-stream hidden-phone" ng-if="thoughtStream">[ {{ thoughtStream }} ]</h1>
        </div>
        <div class="span10">
            <ul class="nav-pills nav-main unstyled">
                <li class="hidden-phone">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/stream/projects">
                        Projects
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/stream/photos">
                        Photos
                    </a>
                </li>
                <li>
                    <a href="#!/thoughts/about">
                        About
                    </a>
                </li>
            </ul>
        </div>
        <div class="span2"></div>
    </div>


    <div data-block="content-area" data-role="body">[content-area]</div>
    <div class="row" data-role="footer"></div>
</div>